.button2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1565c0; 
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

    .button2:hover {
        background-color: #1e88e5; 
    }

    .button2:active {
        background-color: #1e88e5;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


